/*** box sizing border-box for all elements ***/

#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("images/freedom.png") center / cover no-repeat border-box;
  /* background-image: url("images/freedom.png");
    background-size: cover; */
  width: 100%;
  height: 33vh;
  margin-top: 3.5rem;
}
.plans {
  background: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.project-mainHeading {
  text-align: center;
  color: white;
  padding: 70px 0 5px 0;
  margin: auto;
  margin-top: 30px;
  width: 50%;
}
.project-heading {
  background-color: rgb(196, 138, 32);
  color: white;
  padding: 10px 0 5px 0;
  text-align: center;
  width: 100%;
  height:3.5rem;
}
.plan__features li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.plan__price {
  color: white;
}

.pagePlan {
  background: rgb(116, 187, 157);
  padding: 16px;
  text-align: center;
  width: 100%;
  height:15rem;
  border-radius: 8px;
  vertical-align: middle;
  /* height: 250px; */
}
.plan--highlighted {
  background-color: rgb(51, 153, 110);
  color: white;

  height: 300px;
}
.planPage__topHead {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(51, 153, 110);
  background: white;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding-top: 7px;
  margin-bottom: 7px;
}
#key-features {
  background: #da6565;
  /* text-align: center; */
  display: flex;
  flex-direction:column;
  justify-content: center;
  width: 100%;
}

.features {
  /* display: inline-block; */
  padding: 16px;
  padding-top: 3rem;
  margin: 38px;
  list-style: none;
  background: lightpink;
  height: 250px;
  border-radius: 8px;
  vertical-align: middle;
  text-align: center;
  font-size: 1.1rem;
}
.feature-2 {
  width: 200px;
}
.key-features__image {
  background: rgb(218, 101, 101);
  width: 128px;
  height: 128px;
  border: 1px gray solid;
  border-radius: 50%;
  margin: auto;
  padding: 20px;
}

/* using peusdo elements */
p::first-letter {
  font-size: 20px;
  color: red;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}
@media (min-width: 36rem) {
  .planStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linen;
    /* height: 500px; */
    width: 100%;
    /* margin-bottom: -100px; */
  }
  
  #product-overview {
    height: 70vh;
    background-position: 50% 25%;
  }
  #product-overview h1 {
    font-size: 3rem;
  }
  .pagePlan {
    width: 30%;
    /* margin: 35px 8px 12px 20px; */
    margin: 25px 8px 25px 20px;
    /* min-width:13rem;
    max-width:25rem;    */
  }
  .plan--highlighted {
    z-index: 1;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  /* TODO: fix flex on features */
  #key-features {
    background: #da6565;
    /* text-align: center; */
    display: flex;
    flex-direction:row;
    align-content: center;
    width: 100%;
  }
  .features{
    display: flex;
    /* flex-grow:1; */
    justify-content: center;
  }
}
